!!! 5
html
  include mixins/text_control

  head
    title= title
    != css('app')

  body

    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href="/")
            span #{title}

    form#jira-form.form-horizontal.container(method="post")
      mixin text_control("username", "Username", null)
      mixin text_control("password", "Password", null, {type: 'password'})
      button.btn-primary#login Login

    != js('app')
