@import 'lib/bootstrap.css'
@import 'lib/bootstrap-responsive.css'

body
  padding-top: 60px

.error
  font-size: 11px
  color: red
  
.row ul
	list-style: none
	padding:0
	padding-left: 100px
	margin:0
	text-decoration: none

.row li
  float: left
  border: 1px solid
  border-bottom-width: 0
  padding: 0.5em
  margin: 0.5em

#jql-form
  display: none

#builder-form
  display: none